{% extends 'front.html.twig' %}

    {% block header %} {% endblock %}
    {% block footer %}{% endblock %}
    {% block body %}
        {% if (success) %}
            <p>success</p>
        {% endif %}
        <form method="POST" action="{{ url("game") }}">
            <div class="col-lg-12" id="bloc-jeu">
                {% if (question == NULL) %}

                    <div class="etape-jeu">
                        <b>Il n'y a plus de question</b>
                    </div>
                {% else %}

                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5 progression-jeu">
                            <div class="pourcentage">
                                <span class="orange">Progression : {{ progression }}%</span>
                            </div>
                            <div class="etape-jeu">
                                <b>Question {{ session.gamestate }}</b>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" name="question" value="{{ question.id }}">
                    {% if (question.qcm == 1) %}
                        {% if (question.type == 0) %}
                            <div class="row">
                                <div class="col-lg-offset-4 question">
                                    <b>QCM</b><br/>
                                    {{ question.content }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5 reponse">
                                    {% for q_data in question_data %}
                                        <label class="choix-qcm">{{ q_data.awnser }}</label><input type="checkbox"
                                                                                                   name="qcm"
                                                                                                   value="{{ q_data.id }}"><br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="col-lg-offset-6 validation-reponse" value="Valider">
                            </div>

                        {% endif %}
                        {% if (question.type == 1) %}
                            <div class="row">
                                <div class="col-lg-offset-4 question">
                                    <b>Chercher l'erreur</b><br/>
                                    {{ question.content }}
                                </div>
                            </div>
                            {% set code = question.code|split('\n') %}
                            <div class="row">
                                <div class="col-lg-offset-5 col-lg-4 reponse">
                                    {% set cpt = 0 %}
                                    {% for ligne in code %}
                                        <a>
                                            <pre>{{ ligne }}</pre>
                                        </a><input type="radio" name="ligne" value="{{ cpt }}">
                                        {% set cpt = cpt + 1 %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="col-lg-offset-6 validation-reponse" value="Valider">
                            </div>

                        {% endif %}
                        {% if (question.type == 2) %}
                            <!-- if Vrai ou faux -->
                            <div class="row">
                                <div class="col-lg-offset-4 question">
                                    <b>Vrai ou faux ?</b><br/>
                                    {{ question.content }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5 reponse">
                                    <button class="choix-qcm" name="vrai">
                                        Vrai
                                    </button>
                                    <input type="radio" name="truefalse" value="1">
                                    <br>
                                    <button class="choix-qcm" name="faux">
                                        Faux
                                    </button>
                                    <input type="radio" name="truefalse" value="0">
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="col-lg-offset-6 validation-reponse" value="Valider">
                            </div>
                        {% endif %}
                        {% if (question.type == 3) %}
                            <!-- if Réponse à valeur numérique -->
                            <div class="row">
                                <div class="col-lg-offset-4 col-lg-4 question">
                                    <b>{{ question.content }}</b><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-5 reponse">
                                    <label> Réponse </label><br>
                                    <input type="text" name="q_anwser" placeholder="Valeur Numérique"><br>
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="col-lg-offset-6 validation-reponse" value="Valider">
                            </div>
                        {% endif %}
                    {% else %}
                        {% if (question.type == 0) %}
                        {% endif %}
                        {% if (question.type == 1) %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- if Chercher Erreur -->
            </div>
        </form>
    {% endblock %}


