{% extends 'front.html.twig' %}

{% block front %}
    <div class="row" id="lancer-jeu">
        <div class="col-lg-offset-5">
            <span class="orange"><h1>Bonjour Jane !</h1></span><br>
            Bienvenue sur notre nouveau serious game.<br>
            Viens évaluer et tester tes compétences<br>
            <a href="{{ path('game') }}">
                <button>Jouer</button>
            </a>
        </div>
    </div>
    <div class="row" id="profile">
    <div class="col-lg-offset-3 col-lg-4">
        <div id="profile-card">
            <div class="profile-item" id="profile-avatar">
                <img src="{{ asset('img/portrait1.png') }}"/>
                <div id="profile-title">Title</div>
            </div>
            <div id="profile-description" class="profile-item">
                <div class="nom-prenom description-item">
                    Jane Doe
                </div>
                <div class="age-lieu description-item">
                    24 ans <br>
                    Paris 18
                </div>
                <div class="site-web description-item">
                    <a href="{{ path('homepage') }}">www.janedoe.com</a>
                </div>
                <div class="etat-profil description-item">
                    Parties : <b> 7 </b> <br>
                </div>
                <div class="competences description-item">
                    Compétence majeure : <b>PHP</b><br>
                    Talent majeur : <b>Leader</b>
                </div>
                <button class="bouton-modifier"> Modifier le profil</button>
            </div>
        </div>
    </div>

    {% set cpt = 0 %}
    {% for skill in skills %}
        {% if (cpt % 3 == 1) %}
            <div class="col-lg-offset-3 col-lg-2">
        {% else %}
            <div class="col-lg-2">
        {% endif %}
        <div class="skill-item">
            <canvas id="myChart_{{ skill.skillId }}"></canvas>
        </div>
        </div>
        {% if (cpt % 3 == 0) %}
            </div>
            <div class="row">
        {% endif %}
        {% set cpt = cpt + 1 %}

    {% endfor %}
    </div>
    <div id="chart">
        <canvas id="myChart"></canvas>
    </div>
    <!--<div class="col-lg-2">
        <div class="skill-item">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-3 col-lg-2">
        <div class="skill-item"></div>
    </div>
    <div class="col-lg-2">
        <div class="skill-item"></div>
    </div>
    <div class="col-lg-2">
        <div class="skill-item"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-3 col-lg-2">
        <div class="skill-item"></div>
    </div>
    <div class="col-lg-2">
        <div class="skill-item"></div>
    </div>
    <div class="col-lg-2">
        <div class="skill-item"></div>
    </div>
</div>-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% for skill in skills %}


        var myPieChart_{{ skill.skillId }} = new Chart(document.getElementById("myChart_{{ skill.skillId }}").getContext("2d"), {
            type: 'pie',
            data: {
                labels: [
                    "Red",
                ],
                datasets: [
                    {
                        data: [{{ skill.level }}, {{ 100 - skill.level }}],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB"
                        ]
                    }]
            }
        });
        {% endfor %}

        var data = {
            {% for skill in skills %}

            {% endfor %}
            labels: ["27/04/2017", "28/04/2017"],
            datasets: [
                {
                    label: "Competence 1",
                    backgroundColor: 'rgba(255,99,132,0)',
                    borderColor: [
                        'rgba(0,255,0,1)'
                    ],
                    borderWidth: 1,
                    data: [17, 25]
                },
                {
                    label: "Competence 2",
                    backgroundColor: 'rgba(255,99,132,0)',
                    borderColor: [
                        'rgba(255, 0, 0, 1)'
                    ],
                    borderWidth: 1,
                    data: [3, 0]
                }
            ]
        };

        var ctx = document.getElementById("myChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    xAxes: [{
                        display: false
                    }]
                }
            }
        });
    </script>
{% endblock %}