{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container-fluid" id="recherche-profil">
        <h1>Rechercher profil</h1>
        <hr>
        <input type="text" id="search" placeholder="Entrez ici le nom du candidat"><br>
        <input type="submit" id="validate" value="Valider">
        <div class="filtres">
            <h2>Trier par : </h2>
            {% for skill in skill %}
                <span class="filtre_label"><input class="skills" type="checkbox" name="skill"
                                                  value="{{ skill.id }}"> {{ skill.name }} </span><br>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="tableau-admin">
            <table>
                <tr class="tableau-titres">
                    <td>Nom</td>
                    <td>Âge</td>
                    <td>Ville</td>
                </tr>
                <tbody id="table_content">
                {% for user in users %}
                        <tr class="description-profils">

                            <td><a href="{{ url('admin_profile') }}?user={{ user.id }}"><b>{{ user.name }} {{ user.surname }}</b></a></td>
                            <td>{{ user.age }} ans</td>
                            <td>{{ user.address }}</td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function func() {
            var filters = [];
            $(".skills").each(function () {
                if ($(this).prop('checked')) {
                    filters.push($(this).val());
                }
            });
            $.ajax({
                url: '{{ url("admin_filtered") }}',
                type: 'POST',
                data: 'filter=' + filters.join("_") + '&name=' + $("#search").val(),
                dataType: 'html',
                success: function (code_html, statut) {
                    $('#table_content').html(code_html);
                }
            });
        }
        $(".skills").each(function () {
            $(this).mouseup(function () {
                func();
            });
        });
        $("#validate").click(function () {
            func();
        });

    </script>
{% endblock %}
