{% for user in users %}
    <tr class="description-profils">
        <td><a href="{{ url('admin_profile') }}?user={{ user.id }}"><b>{{ user.name }} {{ user.surname }}</b></a></td>
        <td>{{ user.age }} ans</td>
        <td>{{ user.address }}</td>
    </tr>
{% endfor %}
