{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block header %}
    {{ parent() }}
    <nav class="admin_menu">
        <ul>
            <li><a href="{{ url("admin_index") }}">Utilisateurs</a></li>
            <li><a href="{{ url("admin_question") }}">Questions</a></li>
            <li><a href="{{ url("admin_skill") }}">Competences</a></li>
        </ul>
    </nav>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block menu %}
    <div class="menu">
        <div class="menu-item first logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('img/gfi-logo3.png') }}" /></a>
        </div>
            <div class="menu-item">
            <span>
                <a href="{{ path('homepage') }}">Accueil</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ path('game') }}">Jouer</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ path('evolution') }}">Evolution</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ path('homepage') }}">Déconnexion</a>
            </span>
            </div>
    </div>
{% endblock %}
