{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block menu %}
    <div class="menu">
        <div class="menu-item first logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('img/gfi-logo3.png') }}" /></a>
        </div>
            <div class="menu-item">
            <span>
                <a href="{{ url("admin_index") }}">Accueil admin</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ url("admin_question") }}">Questions</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ url("admin_skill") }}">Compétences</a>
            </span>
            </div>
            <div class="menu-item">
            <span>
                <a href="{{ path('homepage') }}">Déconnexion</a>
            </span>
            </div>
    </div>
{% endblock %}
